[submodule "config/shell/fonts.symlink"]
	path = config/shell/fonts.symlink
	url = https://github.com/powerline/fonts.git
[submodule "config/tmux/tmux.symlink/tmux-resurrect"]
	path = config/tmux/tmux.symlink/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "config/vim/vim.symlink/pack/bundle/start/vim-colors-solarized"]
	path = config/vim/vim.symlink/pack/bundle/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "config/vim/vim.symlink/pack/bundle/start/vim-tmux-navigator"]
	path = config/vim/vim.symlink/pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "config/vim/vim.symlink/pack/bundle/start/vim-gutentags"]
	path = config/vim/vim.symlink/pack/bundle/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "config/vim/vim.symlink/pack/bundle/start/ale"]
	path = config/vim/vim.symlink/pack/bundle/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "config/vim/vim.symlink/pack/bundle/start/splitjoin.vim"]
	path = config/vim/vim.symlink/pack/bundle/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "config/vim/vim.symlink/pack/bundle/start/mediawiki.vim"]
	path = config/vim/vim.symlink/pack/bundle/start/mediawiki.vim
	url = https://github.com/chikamichi/mediawiki.vim.git
[submodule "config/vim/vim.symlink/pack/bundle/start/ultisnips"]
	path = config/vim/vim.symlink/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "config/vim/vim.symlink/pack/bundle/start/undotree"]
	path = config/vim/vim.symlink/pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "config/vim/vim.symlink/pack/bundle/start/fzf.vim"]
	path = config/vim/vim.symlink/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "config/vim/vim.symlink/pack/bundle/start/fzf"]
	path = config/vim/vim.symlink/pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "config/vim/vim.symlink/pack/bundle/start/rust.vim"]
	path = config/vim/vim.symlink/pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "config/vim/vim.symlink/pack/bundle/start/vim-racer"]
	path = config/vim/vim.symlink/pack/bundle/start/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "config/vim/vim.symlink/pack/bundle/start/vim-hug-neovim-rpc"]
	path = config/vim/vim.symlink/pack/bundle/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "config/vim/vim.symlink/pack/bundle/start/nvim-yarp"]
	path = config/vim/vim.symlink/pack/bundle/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "config/vim/vim.symlink/pack/bundle/start/ncm2"]
	path = config/vim/vim.symlink/pack/bundle/start/ncm2
	url = https://github.com/ncm2/ncm2.git
[submodule "config/vim/vim.symlink/pack/bundle/start/ncm2-racer"]
	path = config/vim/vim.symlink/pack/bundle/start/ncm2-racer
	url = https://github.com/ncm2/ncm2-racer.git
[submodule "config/vim/vim.symlink/pack/bundle/start/ncm2-jedi"]
	path = config/vim/vim.symlink/pack/bundle/start/ncm2-jedi
	url = https://github.com/ncm2/ncm2-jedi.git
[submodule "config/vim/vim.symlink/pack/bundle/start/vim-toml"]
	path = config/vim/vim.symlink/pack/bundle/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "config/vim/vim.symlink/pack/bundle/start/vim-commentary"]
	path = config/vim/vim.symlink/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "config/vim/vim.symlink/pack/bundle/start/python-syntax"]
	path = config/vim/vim.symlink/pack/bundle/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "config/vim/vim.symlink/pack/bundle/start/asyncrun.vim"]
	path = config/vim/vim.symlink/pack/bundle/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "config/vim/vim.symlink/pack/bundle/start/vim-mustache-handlebars"]
	path = config/vim/vim.symlink/pack/bundle/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "config/vim/vim.symlink/pack/bundle/start/goyo.vim"]
	path = config/vim/vim.symlink/pack/bundle/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "config/vim/vim.symlink/pack/bundle/start/gruvbox"]
	path = config/vim/vim.symlink/pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "config/vim/vim.symlink/pack/bundle/start/vimwiki"]
	path = config/vim/vim.symlink/pack/bundle/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
